* {
    font-family: 'Gowun Batang', serif;

}

html {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://blog.kakaocdn.net/dn/CUKz9/btqGK3bQE0P/4sDOkRXJWuXFQwjz2kM4C1/unicorn3.jpg?attach=1&knm=img.jpg');
    background-position: center;
    background-size: cover;
}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

.title {
    font-weight: 800;
    font-size: 5rem;
}

.subtitle {
    font-size: 2rem;
}

.is-sparta {
    color: #56baed !important;
}

.button.is-sparta {
    background-color: #56baed;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #56baed;
    color: #56baed !important;
}

.modal-content {
    width: 600px;
    max-width: 80%;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

article.media.post-box {
    width: 100%;
}

.has-addons {
    border-radius: 50%;
}

.input, .textarea, .is-info {
    border-radius: 20px;
}